@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}


.container{
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
    flex-direction: column;
    padding: 20px 0 20px 0;
}

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.card{
    border: 1px solid black;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    gap: 10px;
}
form{
    width: 100%;
}
.input-group{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 5px 5px 5px 5px;
}

.input{
    width: 100%;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

.btn-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-submit{
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    background: #21992b;
    box-shadow: 0 0 5px  0 rgba(0,0,0,0.5);
    color:  #f1f1f1;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    &:hover{
        filter: brightness(1.1);
    }
}

ul li {
    list-style: none;
}

ul{
    margin-bottom: 20px;
}
.navigation{
    width: 100%;
    max-width: 800px;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
li{
    color: black;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    background:#f1f1f1
    text-decoration: none !important;

    &:hover{
        background: black;
    }
}


a{
    text-decoration: none;
    color: black;
    &:hover{
        color: white;
        background: black;
    }
}

.devices{
    border: 1px solid black;
    border-radius: 5px;
    width: 100% !important;
    display: flex;
    
    &:hover{
        background: #f1f1f1;
    }
}


.avail-device{
    width: 100%;
    max-width: 400px;display: flex;
    flex-direction: column;
    gap: 20px;
}
.delete{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
   
    border-radius: 5px;
    background: rgb(182, 35, 35);
    color: white;
    &:hover{
        filter:brightness(1.2)
        background-color: red ;
    }   
}
.delete-btn{
    border: 0;
    background:  rgb(182, 35, 35) !important;
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        filter: brightness(1.2);
        
    }
}
.details{
    width: 100%;
}

.delete-container{
    padding: 5px;
}
.clearBtn{
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 1rem;
    background: red;
    color: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    &:hover{
        filter: brightness(1.2);
        color: white
    }
}

.btn-home{
    background: transparent !important ;
    color: black !important;

    &:hover{
        color: black !important;
    }
}